.t-h3 Hi, my name's Eric.

:markdown
  I'm a software developer located in Boulder, CO. I specialize in front-end development, but enjoy working at all levels of the web stack.

  My frontend methodology focuses on reusable components and brings in best practices from OOCSS, SMACSS, BEM, etc. On the back end, I've been working most recently with the Rails stack, using PostgreSQL for data persistence. I enjoy building personal projects with Node.js and Gulp.
