
:markdown
  ## Education
  Bachelor of Science, CU Boulder, May 2010

  ### Major
  - Computer Science

  ### Minors
  - Technology, Arts & Media
  - CU Business Intensive Certificate

  ## Experience

  ### PivotDesk
  #### Rails Developer (12/12 to 6/15)
  Worked across the stack, but was the primary front-end developer for the PivotDesk platform. Refactored large, monolithic CSS into many single-responsibility modules that could be composed to rapidly iterate on product ideas. Led incremental transition to fully responsive design.

  Spearheaded initiatives to bring plain old ruby objects like Form Objects and Services into the Rails codebase.

  Contributed heavily to user experience conversations and was responsible for creating designs and wireframes for several important product features.

  Worked with interns and other employees less educated in front-end technologies to teach CSS quirks and best practices.

  ### KGNU Community Radio
  #### Software Engineer (8/09 to 3/13)
  Designed and developed an open-source web application for radio station administration including schedule, music catalog, and playlist applications. Helped with other IT related tasks like audio archiving and website maintenance.

  ### Echo Labs
  #### Software Engineer (3/11 to 5/13)
  Designed, architected, developed, and maintained several web applications enabling customers to see trends in their energy usage and generation data.

  ### Tendril Networks
  #### Software Engineer Intern (5/09 to 9/10)
  Designed and implemented new features for smart grid applications. Developed applications and other support tools including a Google Maps mashup and a web-based kanban board that integrated with Rally's project management APIs.

  ## Skills & Abilities

  ### Concepts
  - Object Oriented Programming
  - MVC, AJAX, REST
  - Version Control
  - HTTP Protocol
  - Internationalization
  - Relational Databases
  - Test-Driven Development
  - Agile Development
  - User Experience Design
  - Modular CSS Architecture
  - Cross-Browser Support
  - Responsive Design
  - Mobile-first Development

  ### Languages
  - Ruby, Javascript, PHP, Java
  - HTML, HAML, CSS, Sass, Less
  - XML, JSON, YAML
  - SQL

  ### Tools
  - Sublime Text, Eclipse
  - Git, Subversion, CVS
  - Heroku, Pivotal Tracker
  - S3, Cloudsearch, Cloudfront
  - Grunt, Gulp
  - Mac, Linux, Windows
  - Vagrant, Chef
  - Adobe CS (Photoshop, Flash, etc.)

  ### Frameworks
  - Ruby on Rails, Node.js, CakePHP, Spring MVC
  - jQuery, Backbone, Angular, Express
  - Twitter Bootstrap, Foundation
  - Compass
