%section.page-section
  .page-section__header
    %h1.t-h1 New Page
  = form_for @post, url: posts_path, html: { class: 'snazzy-form' } do |f|
    .snazzy-form__field
      = f.label :title
      = f.text_field :title, :required => true
    .snazzy-form__field.snazzy-form__actions
      = button_tag 'Submit', :class => 'button button--primary'
