.brand-stripe {
  height: $brand-stripe-height;

  $stripe-width: 100% / length($brand-stripe-colors);
  $gradient:     ();

  @for $i from 1 through length($brand-stripe-colors) {
    $color: nth($brand-stripe-colors, $i);
    $stops: $color $stripe-width * ($i - 1), $color $stripe-width * $i;
    $gradient: join($gradient, $stops, comma);
  }

  background-image: linear-gradient(left, $gradient);
}
