.page-section {
  margin-top: 2rem;
  margin-bottom: 4rem;

  @include ar-breakpoint-query(medium) {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

.page-section__header {
  @extend .responsive-align;
  margin-bottom: 4rem;

  @include ar-breakpoint-query(medium) {
    margin-bottom: 6rem;
  }
}