- content_for :content do
  .article
    .article__header
      %h1.article__title
        = @content.title
      - if session[:loggedin].present?
        .article__meta= link_to 'Edit', edit_content_path(@content)
    .article__body
      = yield

= render :template => 'layouts/application'
